body {
  margin: 0;
  background: black;
  color: lime;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  user-select: none;
  overflow: hidden;
}
.loader {
  margin-top: 30%;
  font-size: 24px;
}
.blocked h1 {
  color: red;
}
.coin-box {
  margin: 20px auto;
  padding: 20px;
  background: lime;
  color: black;
  width: 200px;
  cursor: pointer;
  font-weight: bold;
}
.qr {
  width: 150px;
  margin: 20px auto;
}
button {
  background: transparent;
  border: 2px solid lime;
  padding: 10px 20px;
  color: lime;
  cursor: pointer;
}
.main {
  padding-top: 100px;
}
